<%= content_for :title, "Zupp | Home" %>

<main>
       <div class="home_vector_image-1"></div>
       <div class="home_about"></div>
       <h1 class="title">
        <span >ZUPP</span>
    </h1>
       <div class="home_text">
       <div class="container">
            <div class="animation" style="margin-left: -90px; margin-top: 30px;">
                    <span class="first">"Zupp"</span>
                    <span class="slide">
                        <span class="second">is a modern agile project management software </span>
                    </span>
            </div>
       </div>
       <div class="container1">
        <div class="animation" style="margin-left: -10px; margin-top: 10px;">
                <span class="first1">for</span>
                <span class="slide">
                    <span class="second">High Velocity teams from <span>"Freshworks"
                </span>
        </div>
   </div>
        <div class="home_register">
            <%= button_to "Get Started", new_sessions_path, class: "home_register_button", :method => :get %>
        </div>
        </div>

        
</main>