// Place all the styles related to the password_resets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.fp_body{
    position: fixed;
    background-image: url(asset_path('forgot_password_background.png'));
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-left: -100px;
    margin-top: -65px;
}
.fp_box_body{
    background-color: white;
    margin-left: 420px;
    margin-top: 170px;
    width: 530px;
    height: 300px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 40px 30px 30px 40px;
}
.fp_title{
   font-size: 21px;
   font-weight: 600;
}
.fp_Form-input{
    padding: 15px 15px 15px 22px;
    margin-bottom: 20px;
    width: 450px;
    border-radius: 5px;
    border: 2px solid gray;
    margin-top: 45px;
}
.fp_Form-input::placeholder{
    font-weight: 600;
    color: #bbbbbb;
}
.fp_Form-submit{
    margin-top: 25px;
    text-align: center;
    background-color: #FF2E58;
    color: #FFFFFF;
    border: none;
    padding: 15px 0px;
    width: 450px;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 20px;
}
.fp_Form-submit:hover{
    background-color: #ff486d;
    cursor: pointer;
}
.fp_link_to_signin{
    color: #FF2E58;
    z-index: 999;
    margin-left: 170px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
.fp_link_to_register_div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px ;
    margin-left: 590px;
    margin-top: 35px;
}
.rp_password_holder{
    display: flex;
    flex-wrap: wrap;
}
.rp_eye_icon{
    z-index: 999;
    margin-left: -45px;
    margin-top: 45px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    color: rgb(184, 184, 184);
}
.rp_body{
    position: fixed;
    background-image: url(asset_path('reset_password_background.png'));
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -65px;
    margin-left: -100px;
}
.rp_box_body{
    background-color: white;
    margin-left: 400px;
    margin-top: 120px;
    width: 530px;
    height: 370px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 40px 30px 30px 40px;
}
.rp_title{
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 5px;
}
.rp_Form-input{
    padding: 15px 15px 15px 22px;
    width: 450px;
    border-radius: 5px;
    border: 2px solid gray;
    margin-top: 30px;
}
.rp_Form-input::placeholder{
    font-weight: 600;
    color: #bbbbbb;
}
.rp_Form-submit{
    margin-top: 55px;
    text-align: center;
    background-color: #FF2E58;
    color: #FFFFFF;
    border: none;
    padding: 15px 0px;
    width: 450px;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 20px;
}
.rp_Form-submit:hover{
    background-color: #ff486d;
    cursor: pointer;
}
.rp-Flash-error{
    color: red;
    font-size: 12px;
    font-weight: 600;
    z-index: 999;
    margin-top: 10px;
}

