// nav and dashboard partial
/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: #FF2E58;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
}
.sidebar .logo-details-a{
   all: unset;
   cursor: pointer;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 37px;
  font-weight: 700;
  color: #fff;
  min-width: 60px;
  text-align: center
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 35px;
  font-weight: 700;
}
.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #ff486d;
}
.sidebar .nav-links li a:hover{
  background: #ff486d;
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: #FF2E58;
}
nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
  cursor: pointer;
}
.home-section nav .search-box{
  position: relative;
  height: 40px;
  max-width: 450px;
  width: 50%;
  margin: 0 10px 0 200px;
}
nav .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #FF2E58;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
nav .search-box .bx-search{
  position: absolute;
  height: 40px;
  width: 40px;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color:  #FF2E58;
  font-size: 22px;
  transition: all 0.4 ease;
}
.create_ticket_button i{
    cursor: pointer;
    color: #FF2E58;
    font-size: 40px;
    margin-left: -30px;
}
.home-section nav .profile-details{
  display: flex;
  align-items: center;
  background: #FF2E58;
  border: 2px solid #FF2E58;
  border-radius: 6px;
  height: 40px;
  min-width: 190px;
  padding: 0 15px 0 30px;
  color: white;
}
nav .profile-details .admin_name{
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details i{
  font-size: 15px;
}
.home-section .home-content{
  position: relative;
  padding-top: 104px;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 10px;
  top: 20px;
}
.home-content .access_div_show{
  z-index: 999;
  background-color: #fff;
  width: 400px;
  height: 50px;
  overflow-y: scroll;
  color: #FF2E58;
  font-weight: bold;
  margin-left: 60%;
  margin-top: -22px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  font-size: small;
}
.access_div_show::-webkit-scrollbar{
  width: 0px;
}
.overview-boxes .box{
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  cursor: pointer;
}



.overview-boxes .box .right-side{
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  text-align: left;
}



.overview-boxes .box-topic{
  font-size: 19px;
  font-weight: 500;
  margin-left: 10px;
}
.home-content .box .number{
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  margin-left: 120px;
}
.box i{
    font-size: 19px;
}
 #active{
    background: #FF2E58;
    color: #EFEEF1;
}
.home-content .sales-boxes{
  display: flex;
  justify-content: space-between;
}
.sales-boxes .form-background{
  background: #fff;
  width: 970px;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.sales-boxes .subject{
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 7px 0px;
}
.sales-boxes .flex-1{
   display: flex;
   flex-wrap: wrap;
   margin-top: 20px;
   width: 100%;
   font-size: smaller;
}
.grid-2{
    margin-left: 30%;
}
.grid-3{
    margin-left: 30%;
}
.subject_field{
    width: 100%;
    padding: 6px;
    border: hidden;
    border-bottom: #FF2E58 3px solid;
    font-size: smaller;
}
.subject_field::placeholder{
    color: #FF2E58;
    font-weight: bold;
    letter-spacing: 0.4px;
}
.description-box::placeholder{
    color: #FF2E58;
    font-weight: bold;
    letter-spacing: 0.4px;
}

.flex-1 select{
    cursor: pointer;
    width: 7rem;
    padding: 3px 4px;
    border: #FF2E58 2px solid;
    border-radius: 3px;
    color: #FF2E58;
    font-weight: 500;
    letter-spacing: 0.4px;
}
.subject_field:focus{
   outline: none;
   font-size: bold;
   font-size: 13px;
   padding-bottom: 13px;
}
.flex-1 select:focus{
    outline: none;
    font-weight: bold;
    background-color: #f3e0e2;
}
.description{
    margin-top: 20px;
    font-size: smaller;
}
.description-box{
    width: 100%;
    height: 5rem;
    padding: 6px;
    border: hidden;
    border-bottom: #FF2E58 3px solid;
    font-size: smaller;
    margin-bottom: 20px;
}
.description-box:focus{
    outline: none;
    font-size: bold;
    font-size: 13px;
    padding-bottom: 6px;
 }
 .file-uploader{
    display: none;
    visibility: none;
 }
 .screenshot{
    display: flex;
    flex-wrap: wrap;
 }
 .screenshot i{
   cursor: pointer;color: #FF2E58;margin-left: 20px;margin-top: 2px;
 }
 #imageDiv{
    padding: 6px 10px 6px 10px;
    color: #FF2E58;
    font-size: smaller;
 }
 .flash{
    background: #d37b84;
    color: #f5f5f5;
    font-weight: bold;
    letter-spacing: 0.4px;
    font-size: smaller;
    padding: 4px 10px 4px 2px;
    border-radius: 4px;
 }

 .form-continue-button{
     margin-top: 20px;
     padding: 10px;
     background: #FF2E58;
     color: #fff;
     width: 100%;
     border: none;
     border-radius: 4px;
 }
 .form-continue-button:hover{
    background: #FF2E58;
 }
/* left box */
.home-content .sales-boxes .recent-sales{
  width: 100%;
  background: #fff;
  padding: 20px 30px;
  margin: -10px 20px 0px 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  
}

.sales-boxes nav{
    display: flex;
  justify-content: space-between;
  height: 30px;
  background: #fff;
  align-items: center;
  position: fixed;
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  top: 580px;
}
.sales-boxes nav a{
    color: #FF2E58;
    font-weight: bold;
}
.tickets_div .tickets_table{
    margin-top: 2rem;
    width: 100%;
    align-items: center;
    overflow: scroll;
}
.tickets_table tr{
    border: 2px solid #FF2E58;
}

.tickets_table th{
    font-weight: bold;
    padding: 10px 3px 3px 12px;
}
.tickets_table td{
    font-size: small;
    padding: 7px 3px 7px 12px;
    border-right: 2px solid #FF2E58;
}
.tickets_table td select{
  border: none;
  cursor: pointer;
}
.tickets_table td .edit_subject{
    display: none;
}

.home-content .sales-boxes .sales-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sales-boxes .box .title{
  font-size: 30px;
  margin-bottom: 10px;
  letter-spacing: 0.4px;
}
.sales-boxes .box .access{
    margin: 10px 0px 30px 0px;
    color: #FF2E58;
    padding: 5px 0px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.6px;
    border: #333 1px solid;
}
.access_p{
    font-weight: 500;
}
.sales-boxes .box .bulk_update{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.sales-boxes .box .bulk_update .select_all_div{
    padding: 15px 10px 15px 0px;
}
.bulk_update .selected_div{
    padding: 5px 5px 2px 0px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
}
.select_all_div p{
    margin: -18px 20px 0px 18px;
    font-weight: 600;
}
.pickup_button{
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    text-align: center;
    height: 2rem;
    width: 6rem;
    color: #FF2E58;
    font-weight: bold;
    border: 2px solid #FF2E58;
    border-radius: 2px;
    background: #fff;
}
.pickup_button:hover,.assigned_to_select_select:hover{
   background-color: #ffcdd2;
}
.assigned_to_select_select{
    cursor: pointer;
    padding: 4px;
    border: 2px solid #FF2E58;
    color: #FF2E58;
    font-weight: bold;
    border-radius: 2px;
}
.assigned_to_select_select optgroup{
  font-size: small;
}
.assigned_to_select_select option{
  font-size: smaller;
}
.bulk_update .sort_by_div{
  position: absolute;
    margin-left: 590px;
    align-items: center;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}
.sort_by_text{
    margin-right: 10px;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.head-tr{
  background-color: #FF2E58;
  color: #fff;
  height: 40px;
  border-right: 2px solid #fff;
}
 
/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    left: 220px;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
  .form-background{
    width: 1200px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: column;
  }
  .home-content .sales-boxes .box{
    width: 100%;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales{
    margin: 0;
  }
  .form-background{
    width: 1400px;
  }

}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .sales-boxes .sales-details{
    width: 560px;
  }
  .form-background{
    width: 1200px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
  .form-background{
    width: 1200px;
  }
}
  @media (max-width: 400px) {
  .sidebar{
    width: 0;
  }
  .sidebar.active{
    width: 60px;
  }
  .home-section{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
  .form-background{
    width: 1200px;
  }
}
// -- end of nav and dashboard partial css